# --- Virtual Environments ---
.venv/
venv/
env/
bin/
lib/
include/

# --- Python Junk ---
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/

# --- Streamlit & OS Specific ---
.streamlit/config.toml
.DS_Store
Thumbs.db

# --- Sensitive Data (If you added any later) ---
.env
*.log